.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.inner-main{
    width: 450px;
}

.description-handler{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.description{
    color: white;
    font-weight: 100;
}

.form{
    width: 100%;
    height: 280px;
    background-color: rgb(33,37,41);
    padding: 30px;
    border-radius: 10px;
}

.place-25{
    height: 25px;
}

.place-10{
    height: 10px;
}

.m-btn{
    width: 100%;
}

.progress{
    cursor: wait;
}

.a-div{
    display: flex;
    justify-content: center;
}

.a-link{
    color: white;
    font-weight: 100;
    text-decoration: none;
}

.a-link:hover{
    cursor: pointer;
}
