<div class="main">
    <div class="inner-main">
        <div class="description-handler">
            <h3 class="description">Welcome to APICraft!</h3>
        </div>
        <form class="form">
            <input required [disabled]="isJoining || isInning || isForgeted" data-bs-theme="dark" [(ngModel)]="email" name="email"
                placeholder="Email" type="email" class="form-control inputs">
            <div class="place-25"></div>
            <input required [disabled]="isJoining || isInning || isForgeted" data-bs-theme="dark" [(ngModel)]="password"
                name="password" placeholder="Password" type="password" class="form-control inputs">
            <div class="place-25"></div>
            <div class="place-10"></div>

            <div>
                <button [disabled]="isJoining || isInning || isForgeted" (click)="letMeJoin()" type="button"
                    class="btn btn-primary m-btn">
                    @if(isJoining){
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }
                    @else {
                    Let me join!
                    }
                </button>
            </div>
            <div class="place-10"></div>
            <div>
                <button [disabled]="isInning || isJoining || isForgeted" (click)="letMeIn()" type="button"
                    class="btn btn-success m-btn">
                    @if(isInning){
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }
                    @else {
                    Let me In!
                    }
                </button>
            </div>
        </form>

        <div class="place-10"></div>

        <div class="a-div">
            <a class="a-link" (click)="forgotPassword()">forgot password?</a>
        </div>
    </div>
</div>

<p-toast />
