.main{
    width: 100%;
    min-height: 92vh;
}

.content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header{
    color: white;
}

.input{
    width: 300px;
    margin-top: 50px;
}

.back-arrow{
    margin-left: 40px;
    color: white;
    font-size: 50px;
}

.back-arrow:hover{
    cursor: pointer;
}

.btn{
    width: 150px;
    margin-top: 30px;
}