.main{
    width: 100%;
    min-height: 92vh;
}

.back-arrow{
    margin-left: 40px;
    color: white;
    font-size: 50px;
}

.back-arrow:hover{
    cursor: pointer;
}

.content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header{
    color: white;
}

.input-message-handler {
    min-height: 30px;
}

.input-message {
    font-size: 15px;
    margin: 0;
    color: red;
}

.input{
    width: 500px;
    margin-top: 50px;
}

.description-textarea{
    width: 500px;
}

.btn{
    width: 150px;
    margin-top: 30px;
}