<div class="main">
    <p (click)="back()" class="back-arrow">&#8592;</p>
    <div class="content-handler">
        <h3 class="main-header">
            @if (lang=="Uzbek") {
            Moslashuvchan turidagi APIlaringiz
            }
            @else if (lang=="English") {
            Your Flexible type APIs
            }
        </h3>
    </div>
    @if (isLoading==true) {
    <div class="spinner-handler">
        <div class="spinner spinner-border text-light" data-bs-theme="dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }
    @else {
    @if (tableNames.length==0) {
    <div class="big-content-handler">
        <p class="warning-text">
            @if (lang=="Uzbek") {
            Sizning hali Tablelaringiz yoq!
            }
            @else if (lang=="English") {
            You have not any Tables yet!
            }
        </p>
    </div>
    }
    @else {
    @for (tableName of tableNames; track $index) {
    <flexible-table [lang]="lang!" [tableName]="tableName" [columns]="tables[tableName]" />
    }
    }
    }
</div>