<div class="main">
    <div>
        <div class="description-handler">
            <h3 class="description">Verify your email!</h3>
        </div>
        <div class="inner-main">
            <input [disabled]="isVerifying || isResendingACode" required [(ngModel)]="code" data-bs-theme="dark"
                name="code" placeholder="Code" type="text" class="form-control input">
            <input [disabled]="isVerifying || isResendingACode" required [(ngModel)]="newPassword" data-bs-theme="dark"
                name="newPassword" placeholder="New password" type="text" class="form-control input">

            <button [disabled]="isVerifying || isResendingACode" (click)="verify()" class="btn btn-success button">
                @if(isVerifying){
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
                @else {
                Verify
                }
            </button>

            <button [disabled]="isVerifying || isResendingACode" (click)="resendACode()" class="btn btn-primary button">
                @if(isResendingACode){
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
                @else {
                Resend the code
                }
            </button>

        </div>
    </div>
</div>

<p-toast />