.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.description-handler{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.description{
    color: white;
    font-weight: 100;
}

.inner-main{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(33,37,41);
}

.input{
    margin-top: 15px;
}

.button{
    width: 100%;
    margin-top: 20px;
}