.main{
    width: 100%;
    background-color: black;
}

.welcome-content{
    width: 100%;
}

.inner-welcome-content{
    height: 100vh;
    display: flex;
    align-items: center;
}

.content-saver{
    width: 100%;
}

.content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome-content-header{
    line-height: 70px;
    font-size: 50px;
    color: white;
}

.welcome-content-text{
    max-inline-size: 550px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.welcome-btn{
    margin-left: 10px;
    margin-right: 10px;
}

.line{
    height: 3px;
    background-color: white;
}

.statistics-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.big-content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-sign{
    color: white;
}

.stat-data{
    padding-left: 20px;
    font-size: 50px;
    color: white;
}

.fast-handler{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/home-asstes/lightspeed.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inner-fast{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: black, $alpha: 0.5);
}

.fast-header{
    opacity: 0.5;
    font-size: 30vw;
    font-weight: 500;
    pointer-events: none;
    color: white;
}

.secure-handler{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/home-asstes/orbital.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inner-secure{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: black, $alpha: 0.3);
}

.secure-header{
    opacity: 0.5;
    font-size: 23vw;
    font-weight: 500;
    pointer-events: none;
    color: white;
}