.main{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.content-handler{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-handler{
    width: 700px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(33,37,41);
}

.input-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.profil-input-sign{
    min-width: 110px;
}

.managment-btn-handler{
    width: 100%;
    display: flex;
}

.managment-btn-handler-left{
    width: 50%;
}

.managment-btn-handler-right{
    width: 50%;
    display: flex;
    justify-content: end;
}

.managment-btn{
    width: 100px;
}

.modal-content{
    color: white;
}

.invisable{
    display: none;
}