<div class="main">
    <div class="content-handler">
        <h3 class="main-header">
            @if (lang=="Uzbek") {
            API turini tanlang:
            }
            @else if (lang=="English") {
            Choose an API type:
            }
        </h3>
    </div>
    <div class="cards-handler">
        <div (click)="selectType('flexible')" class="card text-bg-primary active-card" style="max-width: 18rem;">
            <div class="card-header">
                @if (lang=="Uzbek") {
                Moslashuvchan
                }
                @else if (lang=="English") {
                Flexible
                }
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @if (lang=="Uzbek") {
                    Moslashuvchan turi
                    }
                    @else if (lang=="English") {
                    Flexible type
                    }
                </h5>
                <p class="card-text">
                    @if (lang=="Uzbek") {
                    Bitta Tabledan tashkil topgan API bo'lib uning columnlari istalgan tipdagi ma'lumotlarni saqlay
                    oladi (fayllardan tashqari).
                    }
                    @else if (lang=="English") {
                    API consiting only one table. Columns can save data in any type (except files).
                    }
                </p>
            </div>
        </div>
        <div (click)="selectType('custom')" class="card text-bg-success disabled-card" style="max-width: 18rem;">
            <div class="card-header">
                @if (lang=="Uzbek") {
                Buyurtma
                }
                @else if (lang=="English") {
                Custom
                }
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @if (lang=="Uzbek") {
                    Buyurtma turi
                    }
                    @else if (lang=="English") {
                    Custom type
                    }
                </h5>
                <p class="card-text">
                    @if (lang=="Uzbek") {
                    Yuqoridagi <strong>Moslashuvchan</strong> modini o'z ichiga olib, <br>
                    qoshimcha sozlamalarni amalga
                    oshirish mumkin.
                    }
                    @else if (lang=="English") {
                    Includs <strong>Flexible</strong> mode in the above. <br>
                    And gives opportunity to customizations }
                </p>
            </div>
        </div>
        <div (click)="selectType('advanced')" class="card text-bg-danger disabled-card" style="max-width: 18rem;">
            <div class="card-header">
                @if (lang=="Uzbek") {
                Ilg'or
                }
                @else if (lang=="English") {
                Advanced
                }
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @if (lang=="Uzbek") {
                    Ilg'or turi
                    }
                    @else if (lang=="English") {
                    Advanced type
                    }
                </h5>
                <p class="card-text">
                    @if (lang=="Uzbek") {
                    Yuqoridagi <strong>Moslashuvchan</strong> va <strong>Buyurtma</strong>
                    modlarini o'z ichiga olgan holda Tablelar aro reference qilish imkoniyatini beradi.
                    }
                    @else if (lang=="English") {
                    Gives opportuninty to make a refernces between Tables including <strong>Flexible</strong> and <strong>Custom</strong> modes.
                    }
                </p>
            </div>
        </div>
    </div>
</div>