<div class="main">
  <div class="inner-main">

    <h3 class="main-header">
      @if (lang=="Uzbek") {
      API turini tanlang:
      }
      @else if (lang=="English") {
      Choose an API type:
      }
    </h3>

    <div (click)="selectType('Flexible') " class="card active-card" data-bs-theme="dark">
      <div class="card-header flexible-header">
        @if (lang=="Uzbek") {
        Moslashuvchan
        }
        @else if (lang=="English") {
        Flexible
        }
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            @if (lang=="Uzbek") {
            Bitta Tabledan tashkil topgan API bo'lib uning columnlari istalgan tipdagi ma'lumotlarni saqlay oladi <br>
            Hechqanday talablari yo'q (<s>Id reuquired</s>).
            }
            @else if (lang=="English") {
            API consiting only one table. Columns can save data in any type. <br>
            Has no requirements (<s>Id required</s>).
            }
          </p>
          <footer class="blockquote-footer">
            @if(lang=="Uzbek"){
            Asos solingan <cite title="AbuProgrammiy tomonidan">07-2024</cite>
            }
            @else if(lang=="English"){
            Created in <cite title="by AbuProgrammiy">07-2024</cite>
            }
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="space-30"></div>

    <div (click)="selectType('Custom')" class="card disabled-card" data-bs-theme="dark">
      <div class="card-header custom-header">
        @if(lang=="Uzbek"){
        Buyurtma
        }
        @else if (lang=="English") {
        Custom
        }
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            @if (lang=="Uzbek") {
            Yuqoridagi <span class="flexible-header">Moslashuvchan</span> modini o'z ichiga olib, <br>
            qoshimcha sozlamalarni (Id Guid yoki Serial bo'lishi, Columnlar sum() methodini o'z ichiga olishi) amalga
            oshirish mumkin.
            }
            @else if (lang=="English") {
            Includs <span class="flexible-header">Flexible</span> mode in the above. <br>
            And gives opportunity to customizations (Id can be Guid or Serial, Columns can iclude sum() method).
            }
          </p>
          <footer class="blockquote-footer">
            @if(lang=="Uzbek"){
            Tez orada...
            }
            @else if(lang=="English"){
            Soon...
            }
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="space-30"></div>

    <div (click)="selectType('Advanced')" class="card disabled-card" data-bs-theme="dark">
      <div class="card-header advanced-header">
        @if (lang=="Uzbek") {
        Ilg'or
        }
        @else if (lang=="English") {
        Advanced
        }
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            @if(lang=="Uzbek"){
            Yuqoridagi <span class="flexible-header">Moslashuvchan</span> va <span class="custom-header">Buyurtma</span>
            modlarini o'z ichiga olgan holda Tablelar aro reference qilish imkoniyatini beradi.
            }
            @else if(lang=="English"){
            Gives opportuninty to make a refernces between Tables including <span
              class="flexible-header">Flexible</span> and <span class="custom-header">Custom</span> modes.
            }
          </p>
          <footer class="blockquote-footer">
            @if(lang=="Uzbek"){
            Tez orada...
            }
            @else if(lang=="English"){
            Soon...
            }
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>