.main{
    width: 100%;
    min-height: 92vh;
}

.content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-header{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.cards-handler{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.card{
    margin-left: 20px;
    margin-right: 20px;
}

.active-card:hover{
    cursor: pointer;
}

.disabled-card{
    opacity: 0.5;
    pointer-events: none;
}