<div class="main">
    <app-navbar (changeLang)="changeLang($event)"/>
    @if (currentMode=="choosingMode") {
        <api-types [lang]="lang!" (selectAPIType)="selectAPIType($event)"/>
    }
    @else if (currentMode=="tableNameInput") {
        <table-name-input [lang]="lang!" (changeCurrentMode)="changeCurrentMode($event)" (sendTableName)="getTableName($event)"/>
    }
    @else if (currentMode=="coulmnInputs"){
        <coulm-inputs [lang]="lang!" [tableName]="tableName!" (changeCurrentMode)="changeCurrentMode($event)" (sendColumns)="getColumns($event)"/>
    }
    @else if (currentMode=="showResult") {
        <show-flexible-table-result [lang]="lang!" [tableName]="tableName" [columns]="columns"/>
    }
</div>

<p-toast/>